.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 50px;
}

.card {
  width: 350px;
  max-width: 100%;
  border: 1px solid crimson;
}

.card img {
  width: 100%;
  height: 250px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body_top {
  flex-grow: 1;
}

.btn-group button {
  height: 37.6px;
}
